<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=
	"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
	 
	 <!-- 讀取 Property 檔 -->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<!-- 依序讀取，後面的 properties 如果有相同的 key 則會取代前面的。 -->
			<list>
				<value>/WEB-INF/dataSource.properties</value>
				<value>file:${catalina.base}/dataSource.properties</value> 
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<!-- MySQL DataSource -->
	<!-- 連線資訊 -->
<!--     <bean id="mysql_dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  -->
<!--         <property name="driverClassName">  -->
<!--             <value>${jdbc.driverClassName}</value>  -->
<!--         </property>  -->
<!--         <property name="url">  -->
<!--              <value>${jdbc.url}</value>   -->
<!--         </property>  -->
<!--         <property name="username">  -->
<!--              <value>${jdbc.username}</value>   -->
<!--         </property>  -->
<!--         <property name="password">  -->
<!--              <value>${jdbc.password}</value>   -->
<!--         </property>  -->
<!--      </bean> -->
     
     <!-- MySQL DataSource -->
	 <!-- 連線資訊 -->
     <bean id="dataSourceHikari" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
     	<property name="driverClassName"> 
            <value>${jdbc.driverClassName}</value> 
        </property> 
        <property name="jdbcUrl"> 
             <value>${jdbc.url}</value>  
        </property> 
        <property name="username"> 
             <value>${jdbc.username}</value>  
        </property> 
        <property name="password"> 
             <value>${jdbc.password}</value>  
        </property> 
     </bean>
     
     
</beans>